USE [master]
GO

CREATE DATABASE [laptopvaphukien]

GO
USE [laptopvaphukien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Flag] [int] NOT NULL,
	[Reply] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[TableId] [int] NULL,
 CONSTRAINT [PK_dbo.Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[TableID] [int] NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[Positon] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExportDate] [datetime] NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Trash] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[IsPayment] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Rating] [int] NULL,
	[RatingNote] [nvarchar](255) NULL,
	[RatingDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[CateID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[ImageList] [nvarchar](max) NULL,
	[NewPromotion] [nvarchar](max) NULL,
	[Installment] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Specification] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProPrice] [float] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOwner]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Longiude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Orders] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInOut]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NULL,
	[UserID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_StockIn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInOutDetail]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInOutDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StockInOutID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_StockInOutDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Order] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/21/2025 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[PayTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Khuyến mãi lớn', N'khuyen-mai-lon', 0, 0, N'Khuyến mãi lớn', N'Khuyến mãi lớn', 1, CAST(N'2020-11-24T08:56:18.000' AS DateTime), 2, CAST(N'2024-09-26T09:41:50.793' AS DateTime), 118)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (5, N'Sản phẩm khác', N'san-pham-khac', 0, 0, N'Sản phẩm khác', N'Sản phẩm khác', 1, CAST(N'2020-11-24T08:56:56.000' AS DateTime), 2, CAST(N'2024-09-26T09:41:40.953' AS DateTime), 118)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (6, N'Điện tử', N'dien-tu', 13, 0, N'Điện máy', N'Điện máy', 1, CAST(N'2020-11-24T12:28:49.000' AS DateTime), 2, CAST(N'2024-10-14T14:35:05.123' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (1, N'ưer', N'admin@gmail.com', 364877525, N'34r', N'3r', 0, NULL, 0, CAST(N'2023-06-21T12:48:17.043' AS DateTime), CAST(N'2023-06-21T13:20:53.750' AS DateTime), 103)
INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (2, N'codedoan', N'codedoan@gmail.com', 987654321, N'xin chào kfc', N'xin chào kfc', 1, N'xin chao bạn', 1, CAST(N'2023-06-21T13:13:40.000' AS DateTime), CAST(N'2023-06-21T13:20:48.647' AS DateTime), 103)
INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (3, N'xin chao', N'demotk@gmail.com', 364877529, N'xin chao', N'xin chao', 1, N'toi la codedoan', 1, CAST(N'2025-01-22T14:33:06.000' AS DateTime), CAST(N'2025-01-22T14:33:28.807' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON 

INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (3, N'Mua nhiều', 10000000, N'Những người dùng mua trên 10 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2021-04-24T23:02:35.260' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (5, N'Mua vừa', 5000000, N'Những người dùng mua trên 5 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2021-04-24T23:02:38.793' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (6, N'Mua ít', 1000000, N'Những người dùng mua trên 1 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2024-04-22T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (1, N'Sách theo loạif', N'sach-theo-loaif', N'category', 1)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (2, N'Văn học', N'van-hoc', N'category', 2)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (3, N'Khuyến mãi lớn', N'khuyen-mai-lon', N'category', 3)
SET IDENTITY_INSERT [dbo].[Link] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Trang Chủ', N'custom', N'/', NULL, 0, 1, N'header', 2, CAST(N'2020-11-24T09:17:28.960' AS DateTime), 0, CAST(N'2024-04-17T18:04:55.997' AS DateTime), 103)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin tức', N'custom', N'tin-tuc', NULL, 0, 1, N'header', 1, CAST(N'2020-11-24T09:17:35.303' AS DateTime), 0, CAST(N'2020-11-24T09:17:39.463' AS DateTime), 2)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Giới thiệu', N'page', N'gioi-thieu', 1, 0, 1, N'header', 2, CAST(N'2020-11-24T09:17:42.480' AS DateTime), 0, CAST(N'2024-04-17T18:02:42.727' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (1, N'20230621090646', 112, CAST(N'2023-06-21T09:17:46.977' AS DateTime), CAST(N'2023-06-21T12:30:30.140' AS DateTime), N'xxxxxx', N'xxxxxx', N'0364877525', N'xxxxxx@gmail.com', 3, 1, CAST(N'2024-09-26T09:57:12.147' AS DateTime), 1, 1)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (2, N'20230621120608', 112, CAST(N'2023-06-21T12:45:08.833' AS DateTime), NULL, N'xxxxxx', N'xxxxxx', N'0364877525', N'xxxxxx@gmail.com', 1, 1, CAST(N'2024-09-26T09:57:25.653' AS DateTime), 1, 0)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (3, N'20230621120600', 112, CAST(N'2023-06-21T12:46:00.517' AS DateTime), CAST(N'2023-06-21T12:46:50.333' AS DateTime), N'xxxxxx', N'xxxxxx', N'0364877525', N'xxxxxx@gmail.com', 3, 1, CAST(N'2024-09-26T09:57:24.793' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount], [Rating], [RatingNote], [RatingDate]) VALUES (1, 1, 31, 270000, 1, 270000, NULL, NULL, NULL)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount], [Rating], [RatingNote], [RatingDate]) VALUES (2, 2, 44, 77000, 6, 462000, NULL, NULL, NULL)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount], [Rating], [RatingNote], [RatingDate]) VALUES (3, 2, 46, 66000, 1, 66000, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOwner] ON 

INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (1, N'456 Tôn Đức Thắng, Hòa Khánh Nam, Liên Chiểu', CAST(N'2024-06-09T21:01:52.000' AS DateTime), 103, CAST(N'2022-02-22T22:30:52.217' AS DateTime), 103, 1, N'108.159324', N'16.0613392')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (2, N'436 Điện Biên Phủ, Thanh Khê, Đà Nẵng', CAST(N'2024-06-09T21:05:45.000' AS DateTime), 103, CAST(N'2022-02-22T22:31:09.377' AS DateTime), 103, 1, N'108.1859479', N'16.0660573')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (3, N'234 Nguyễn Văn Linh, Thanh Khê, Đà Nẵng', CAST(N'2022-03-29T15:58:10.510' AS DateTime), 103, CAST(N'2022-03-29T15:58:10.510' AS DateTime), 103, 1, N'10.685119', N'106.596605')
SET IDENTITY_INSERT [dbo].[ProductOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Combo Giảm Giá', NULL, N'1', N'combo-giam-gia.png', 0, 1, CAST(N'2020-11-24T00:17:10.000' AS DateTime), 4, CAST(N'2024-09-26T09:49:18.453' AS DateTime), 118)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Giờ Vàng ', NULL, N'1', N'gio-vang-.png', 0, 1, CAST(N'2020-11-24T00:19:33.000' AS DateTime), 4, CAST(N'2024-09-26T09:49:28.543' AS DateTime), 118)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Flash Sale', NULL, N'1', N'flash-sale.jpg', 0, 0, CAST(N'2020-11-24T00:22:45.000' AS DateTime), 4, CAST(N'2024-09-26T09:47:44.130' AS DateTime), 118)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[StockInOut] ON 

INSERT [dbo].[StockInOut] ([ID], [Code], [UserID], [CreateDate], [Note], [Type], [Status]) VALUES (16, N'PN0001', 119, CAST(N'2024-10-12T00:00:00.000' AS DateTime), N'Nhập hàng mới', N'IN', 1)
INSERT [dbo].[StockInOut] ([ID], [Code], [UserID], [CreateDate], [Note], [Type], [Status]) VALUES (17, N'PX0001', 119, CAST(N'2024-10-12T00:00:00.000' AS DateTime), N'Xuất hàng', N'OUT', 1)
INSERT [dbo].[StockInOut] ([ID], [Code], [UserID], [CreateDate], [Note], [Type], [Status]) VALUES (18, N'99191', 103, CAST(N'2025-01-22T00:00:00.000' AS DateTime), N'oki', N'IN', 1)
SET IDENTITY_INSERT [dbo].[StockInOut] OFF
GO
SET IDENTITY_INSERT [dbo].[StockInOutDetail] ON 

INSERT [dbo].[StockInOutDetail] ([ID], [StockInOutID], [ProductID], [Quantity]) VALUES (46, 16, 26, 1)
INSERT [dbo].[StockInOutDetail] ([ID], [StockInOutID], [ProductID], [Quantity]) VALUES (47, 16, 30, 1)
INSERT [dbo].[StockInOutDetail] ([ID], [StockInOutID], [ProductID], [Quantity]) VALUES (48, 17, 26, 1)
SET IDENTITY_INSERT [dbo].[StockInOutDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Tin khuyến mãi', N'tin-khuyen-mai', 0, 0, N'Tin hot', N'Tin hot', 1, CAST(N'2022-02-22T20:37:58.647' AS DateTime), 103, CAST(N'2022-02-22T20:37:58.647' AS DateTime), 103)
INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin hằng ngày', N'tin-hang-ngay', 0, 0, N'Tin thường ngày', N'Tin thường ngày', 1, CAST(N'2022-02-22T22:27:15.267' AS DateTime), 103, CAST(N'2022-02-22T22:27:15.267' AS DateTime), 103)
INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'demo them chu dexxx', N'demo-them-chu-dexxx', 1, 0, N'demo them chu de', N'demo them chu de', 0, CAST(N'2023-06-21T13:18:48.073' AS DateTime), 103, CAST(N'2024-10-14T14:19:11.217' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (103, N'Quản trị viên', N'admin', N'1HMKKPBqF0hAqIOxoY7hMw==', N'admin@gmail.com', 1, 394073759, NULL, NULL, 1, 1, CAST(N'2022-11-29T16:35:35.460' AS DateTime), 103, CAST(N'2022-11-29T16:35:35.460' AS DateTime), 103, 0, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (111, N'minh nha', N'minhnha1999', N'JfnnlDI7RTiF9RgfG2JNCw==', N'nguyennguyen@gmail.com', 1, 1223415449, N'tam tien', N'', 0, 1, CAST(N'2023-06-21T13:22:26.877' AS DateTime), 1, CAST(N'2023-06-21T13:23:17.007' AS DateTime), 103, 7, 69000)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (112, N'xxxxxx', N'xxxxxx', N'2tOjeqnVBoi1FXaYrP167g==', N'xxxxxx@gmail.com', 1, 364877525, N'xxxxxx', N'', 0, 1, CAST(N'2023-06-21T09:16:52.637' AS DateTime), 1, CAST(N'2023-06-21T09:16:52.637' AS DateTime), 1, 7, 413000)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsPayment]
GO
ALTER TABLE [dbo].[StockInOut] ADD  CONSTRAINT [DF_StockInOut_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [GroupId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [PayTotal]
GO
USE [master]
GO
